.container {
  width: 1356px;
  display: flex;
  margin: 0 auto;
  background-image: url(../img/bg\ with\ shoe\ edited\ in\ photoshop.png);
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}
li {
  list-style: none;
}
ul {
  display: flex;
  gap: 50px;
}
body {
  height: 680px;
  margin-top: 150px;
  margin-bottom: 90px;

}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 1440px;
  align-items: center;

  &__img {
    width: 100px;
    height: 25px;
    display: flex;
    gap: 20px;
  }
  &__link {
    &:hover {
      color: red;
    }
  }
}

.jordan {
  display: flex;
  margin-left: 916px;
  margin-top: 430px;
  margin-bottom: 50px;
  &__span1 {
    font-size: 36px;
    color: #e70000;
    font-weight: 800;
  }
  &__span2 {
    font-size: 18px;
    color: #fff;
  }
}
.krossi {
  width: 578px;
  height: 80px;
  align-items: center;
  &__img {
    width: 130px;
    height: 80px;
  }
}
.btn {
  width: 300px;
  gap: 20px;
  &__btn {
    padding: 15px 9px;
    &:hover {
      background-color: aquamarine;
      border-radius: 10px;
      color: white;
    }
  }
  &__btn2 {
    padding: 15px 9px;
    &:hover {
      background-color: beige;
      border-radius: 10px;
      color: blue;
    }
  }
}

.sect {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inspration {
  &__h3 {
    color: #fff;
    font-size: 14px;
  }
  &__p {
    color: white;
    font-size: 13px;
    opacity: 0.5;
  }
}
